# Enable Rewrite Engine
RewriteEngine On

# Set the base
RewriteBase /

# If the requested file or directory does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all non-existing paths to custom 404 page
RewriteRule ^.*$ /pagenotfound.html [L,R=302]